.musicText {
    padding-left: 450px;
}

.input {
    padding-left: 400px;
}

.inputArea {
    margin-right: 10px;
}

.text {
    font-style: italic;
    padding-left: 430px;
    padding-top: 40px;
}

.clearButton {
    margin-right: 8px;
    
}