.header {
    grid-area: h;
    background-color: #001529;
    padding: 0;
    height: 60px;
}


.loginBlock {
    float: right;
    padding-top: 15px;
    padding-right: 50px;

}
.loginBlock a {
    color: #030608;
}
