.login {
    padding-left: 400px;
}

.loginText {
    padding-left: 50px;
}

.loginButton {
    padding-left: 45px;
    padding-top: 10px;
}

.loginForm {
    padding: 5px;
}

.email {
    padding: 2px 2px 2px 0;
}

.password {
    padding: 2px 2px 4px 0;
}

.checkbox {
    
}