.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: black;
    padding: 8px 5px 8px 35px;
    /* border: 1px solid #001529; */
    margin-bottom: 2px;
}

.messages {
    margin-top: 10px;
    margin-left: 100px;
    padding: 8px 5px 8px 35px;
    margin-bottom: 2px;
}

.messages .message {
    color: white;
}

